@tailwind base;
@tailwind components;
@tailwind utilities;


@supports(scrollbar-width: thin) {
    * {
        scrollbar-width: thin;
    }
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(128, 125, 125)
}

::-webkit-scrollbar-track {
    background-color: hsl(215, 28%, 13%)
}


@import url('index.css');